$color1 : #ffffff;
$color2 : #7D7D7D;

.root {
    padding: 20px;

    .title{
        font-size: 16px;
        justify-content: right; 
        align-items: right;
        display: flex;
        margin-bottom: 5px;
        color: $color2;
    }

    .inputLabel {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .ringkasanpribadi{
        width: 100%;
        border-radius: 10px;
        height: 200px;
        background-color: $color1;
        margin-bottom: 15px;
    }

    .inputfield {
        width: 100%;
        border-radius: 10px;
        height: 42px;
        background-color: $color1;
        margin-bottom: 27px;
    }
}

@media (max-width: 600px) {
    .root {
        padding: 10px; 
    }

    .title {
        font-size: 14px; 
    }

    .inputLabel {
        font-size: 14px; 
    }

    .label {
        font-size: 8px; 
    }
}