$color1 : #166079;
$hover1 : #104152;
$color2 : #ffff;
$color3: #9C9C9C;
$error: #d32f2f;

.loginContainer {
  display: flex;
  height: 100vh;

  .logoBox {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    background-image: url('../../assets/images/hero1.webp');
    background-position: center;
    background-size: cover;

    .logoText {
      font-size: 30px;
      color: $color2;
      display: flex;
      position: relative;
      left: 40px;
      top: 20px;
      color: #104152;
    }
  }

  .formContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 320px;
    width: 40%;
  }
}

@media screen and (max-width:640px) {
  .loginContainer {
    .logoBox {
      display: none;
    }

    .formContainer {
      width: 100%;
      min-width: 280px;
    }
  }
}