$color1 : #166079;
$hover1 : #104152;
$color2 : #e2e2e2;
$color3: #9C9C9C;
$error: #d32f2f;

.dialog {
  background-color: white;

  .dialogTitle {
    color: $color1;
    font-weight: 550;
  }

  .dialogContent {}


  .textField {}

  .button {
    background-color: $color1;
    color: white;
    margin: 14px 14px 0px 0px;

    &:hover {
      background-color: $hover1;
      color: white;
    }
  }
}