$color1: #166079;
$hover1: #104152;
$color2: #ffff;
$color3: #f1f1f1;

.container {
  min-height: 100vh;
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color3;
    padding: 10px 5vw 10px 5vw;

    .hero {
      width: 400px;
    }

    .description {
      .title {
        font-weight: 700;
        margin-bottom: 20px;
      }
      .detail {
        text-align: justify;
      }
    }
  }

  .jobs {
    padding: 40px 5vw;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .recent {
      font-weight: 600;
    }

    .jobList {
      display: flex;
    }
  }
}

@media screen and (min-width: 1100px) {
  .container {
    .about {
      padding: 20px 8vw 10px 8vw;
      gap: 30px;
      .hero {
        width: 600px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    .about {
      flex-direction: column;
      gap: 20px;

      .description {
        padding: 4vw;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .about {
      .hero {
        width: 300px;
      }
      .description {
        padding: 2vw;
      }
    }
  }
}
