.container {
  display: flex;
  gap: 20px;
  width: 100%;

  .card {
    width: 320px;
    height: 220px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    justify-content: center;
    padding-left: 7px;
  }
}
