$color1 : #166079;
$hover1 : #104152;
$color2 : #ffff;
$color3: #9C9C9C;
$error: #d32f2f;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  img {
    width: 100px;
    height: 100px;
  }

  .successMessage {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
  }

  .congratsMessage {
    font-size: 1rem;
    margin-bottom: 20px;
    max-width: 600px;
    text-align: center;
  }

  .button {
    background-color: $color1;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $hover1;
    }
  }
}